body {
  /* font-family: sans-serif; */
  font-family: "メイリオ" ;
  background-color: aliceblue;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 430px) {
  body {
    font-family: "メイリオ" ;
    font-size: small;
    background-color: aliceblue;
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width: 414px) {
  body {
    font-family: "メイリオ" ;
    font-size: x-small;
    background-color: aliceblue;
    text-align: center;
    margin: 0;
  }
}

/* 外枠 */
body > .outer-frame {
  margin: auto;
  width: 500px;
  height: 850px;
  border: 10px ridge;
  border-color: black;
  background-color: #418df3;
  position: relative;
}
@media screen and (max-width: 430px) {
  body > .outer-frame {
    margin: auto;
    width: 385px;
    height: 654px;
    border: 8px ridge;
    position: relative;
  }
}
@media screen and (max-width: 414px) {
  body > .outer-frame {
    margin: auto;
    width: 317px;
    height: 539px;
    border: 6px ridge;
    position: relative;
  }
}
/* タイトル */
header > h1 {
  margin: 5px;
}
@media screen and (max-width: 430px) {
  header > h1 {
    margin: 3px;
  }
}
@media screen and (max-width: 414px) {
  header > h1 {
    margin: 2px;
  }
}

h1#logo img {
  width: 100%;
}

/* 
　ルーレット領域
*/
/* ルーレット枠 */
.outer-frame > .roulette-display {
  margin: auto;
  height: 500px;
  bottom: 165px;
  width: auto;
  position: relative;
}
@media screen and (max-width: 430px) {
  .outer-frame > .roulette-display {
    margin: auto;
    height: 385px;
    bottom: 126px;
    width: auto;
    position: relative;
  }
}
@media screen and (max-width: 414px) {
  .outer-frame > .roulette-display {
    margin: auto;
    height: 317px;
    bottom: 104px;
    width: auto;
    position: relative;
  }
}

/* ルーレット盤 */
.roulette-display > .bord {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0px;
}

/* ルーレット部分 */
.roulette-display > .roulette {
  display: block;
  width: 290px;
  height: 290px;
  margin-left: 83px;
  position: absolute;
  top: 83px;
}
@media screen and (max-width: 430px) {
  .roulette-display > .roulette {
    display: block;
    width: 223px;
    height: 223px;
    margin-left: 64px;
    position: absolute;
    top: 64px;
  }
}
@media screen and (max-width: 414px) {
  .roulette-display > .roulette {
    display: block;
    width: 183px;
    height: 183px;
    margin-left: 52px;
    position: absolute;
    top: 52px;
  }
}

/* ルーレット表示 */
/* デフォルト表示 */
.item {
  width: 45px;
  height: 45px;
  background-color: rgb(250, 255, 180);
  border-radius: 50%; /* 円 4角の面取り */
  line-height: 45px;
  text-align: center;
  display: block;
  position: absolute;
  color: rgb(250, 255, 180);;
}
@media screen and (max-width: 430px) {
  .item {
    width: 34px;
    height: 34px;
    background-color: rgb(250, 255, 180);
    border-radius: 50%; /* 円 4角の面取り */
    line-height: 34px;
    text-align: center;
    display: block;
    position: absolute;
    color: rgb(250, 255, 180);;
  }
}
@media screen and (max-width: 414px) {
  .item {
    width: 28px;
    height: 28px;
    background-color: rgb(250, 255, 180);
    border-radius: 50%; /* 円 4角の面取り */
    line-height: 28px;
    text-align: center;
    display: block;
    position: absolute;
    color: rgb(250, 255, 180);;
  }
}

/* 回転表示 */
.red {
  color: red;
  background-color: red;
  width: 45px;
  height: 45px;
  border-radius: 50%; /* 円*/
  line-height: 45px;
  text-align: center;
  display: block;
  position: absolute;
}
@media screen and (max-width: 430px) {
  .red {
    width: 34px;
    height: 34px;
    border-radius: 50%; /* 円 4角の面取り */
    line-height: 34px;
    text-align: center;
    display: block;
    position: absolute;
  }
}
@media screen and (max-width: 414px) {
  .red {
    width: 28px;
    height: 28px;
    border-radius: 50%; /* 円 4角の面取り */
    line-height: 28px;
    text-align: center;
    display: block;
    position: absolute;
  }
}

/* 停止表示 */
.pink {
  color: #ff73dc;
  background-color: #ff73dc;
  width: 45px;
  height: 45px;
  border-radius: 50%; /* 円*/
  line-height: 45px;
  text-align: center;
  display: block;
  position: absolute;
}
@media screen and (max-width: 430px) {
  .pink {
    width: 34px;
    height: 34px;
    border-radius: 50%; /* 円 4角の面取り */
    line-height: 34px;
    text-align: center;
    display: block;
    position: absolute;
  }
}
@media screen and (max-width: 414px) {
  .pink {
    width: 28px;
    height: 28px;
    border-radius: 50%; /* 円 4角の面取り */
    line-height: 28px;
    text-align: center;
    display: block;
    position: absolute;
  }
}

/* 
　bet領域
*/
/* bet枠 */
.bet {
  width: 480px;
  margin: auto;
  height: 90px;
  border: 10px ridge;
  position: absolute;
  top: 620px;
  background-color: #808080;
}
@media screen and (max-width: 430px) {
  .bet {
    width: 370px;
    margin: auto;
    height: 64px;
    border: 8px ridge;
    position: absolute;
    top: 477px;
    background-color: #808080;
  }
}
@media screen and (max-width: 414px) {
  .bet {
    width: 304px;
    margin: auto;
    height: 57px;
    border: 6px ridge;
    position: absolute;
    top: 393px;
    background-color: #808080;
  }
}

/* 初期状態の設定 */
.bet {
  display: flex;
  align-items: center;
  justify-content: space-evenly;  /* 子要素を均等に横並びにする */
}
@media screen and (max-width: 430px) {
  .bet {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 414px) {
  .bet {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

/* bet表示部 */
.bet2, .bet4, .bet6, .bet8, .bet10, .bet30 {
  display: flex;
  flex-direction: column;  /* 子要素を縦並びにする */
  align-items: center;
  color: black;
  width: 50px;
  height: 20px;
  line-height: 25px;
  text-align: center;
  border-radius: 25px;
  margin: 5px;
  background-color: lightgrey;  /* 背景色の初期設定 */
}
@media screen and (max-width: 430px) {
  .bet2, .bet4, .bet6, .bet8, .bet10, .bet30 {
    display: flex;
    flex-direction: column;  /* 子要素を縦並びにする */
    align-items: center;
    color: black;
    width: 38px;
    height: 15px;
    line-height: 18px;
    text-align: center;
    border-radius: 18px;
    margin: 3px;
  }
}
@media screen and (max-width: 414px) {
  .bet2, .bet4, .bet6, .bet8, .bet10, .bet30 {
    display: flex;
    flex-direction: column;  /* 子要素を縦並びにする */
    align-items: center;
    color: black;
    width: 31px;
    height: 12px;
    line-height: 16px;
    text-align: center;
    border-radius: 16px;
    margin: 2px;
  }
}


/* betの縦並び反転 */
#bet2, #bet4, #bet6, #bet8, #bet10, #bet30 {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 430px) {
  #bet2, #bet4, #bet6, #bet8, #bet10, #bet30  {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 414px) {
  #bet2, #bet4, #bet6, #bet8, #bet10, #bet30  {
    display: flex;
    flex-direction: column-reverse;
  }
}


/* betした時の表示 */
.changedColor {
  color: red;
  /* color: white; */
  font-weight: bold;
  background-color: lightgreen;
}

/* 
  bet用ボタン
 */
/* bet-button */
.outer-frame > .bet-button {
  width: 490px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  position: absolute;
  top: 740px;
}
@media screen and (max-width: 430px) {
  .outer-frame > .bet-button {
    width: 377px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    position: absolute;
    top: 570px;
  }
}
@media screen and (max-width: 414px) {
  .outer-frame > .bet-button {
    width: 310px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    position: absolute;
    top: 469px;
  }
}

.bet-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;  /* 子要素を均等に横並びにする */
}

.bet-button button {
  width: 50px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  font-size: large;
  font-family: "Algerian";
}
@media screen and (max-width: 430px) {
  .bet-button button {
    width: 38px;
    height: 23px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-size: small;
    font-family: "Algerian";
  }
}
@media screen and (max-width: 414px) {
  .bet-button button {
    width: 31px;
    height: 19px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    font-size: small;
    font-family: "Algerian";
  }
}

/* ボタンをマウスホバーしたとき、ボタンを薄くする */
.bet-button button:hover {
  opacity: .7;
}

/* ボタンをクリックしたとき、ボタンを下に移動する */
.bet-button button:active {
  transform: translateY(0.2em);
}

/* 各種betボタン */
.bet-button button {
  color: black;
  background-color:lightgoldenrodyellow;
  box-shadow: 0 0.3em 0 darkkhaki;
}

.bet-button button:active {
  box-shadow: 0 0.1em 0 darkkhaki;
}



/* スタート/リセットボタン */
.c_button {
  height: 50px;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 430px) {
  .c_button {
    height: 38px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 414px) {
  .c_button {
    height: 31px;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c_button button {
  width: 150px;
  height: 30px;
  margin: 5px;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  text-align: center;
  padding: 8px;
  border: none;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  text-align:center;
}
@media screen and (max-width: 430px) {
  .c_button button {
    width: 115px;
    height: 23px;
    margin: 3px;
    border: 1px solid #000;
    border-radius: 0;
    background: #fff;
    text-align: center;
    padding: 1px;
    border: none;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    text-align:center;
    font-size: medium;
  }
}
@media screen and (max-width: 414px) {
  .c_button button {
    width: 95px;
    height: 19px;
    margin: 2px;
    border: 1px solid #000;
    border-radius: 0;
    background: #fff;
    text-align: center;
    padding: 1px;
    border: none;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    text-align:center;
    font-size: smaller;
  }
}

/* ボタンをマウスホバーしたとき、ボタンを薄くする */
.c_button button:hover {
  opacity: .7;
}

/* ボタンをクリックしたとき、ボタンを下に移動する */
.c_button button:active {
  transform: translateY(0.2em);
}

.c_button button {
  color: #ffffff;
  background-color:#808080;
  box-shadow: 0 0.3em 0 #404040;
  white-space: pre-line
}

/* .bet-button button.btn-red:active { */
.c_button button:active {
  box-shadow: 0 0.1em 0 #404040;
}


/*
  start_button
*/
.outer-frame > .start_button {
  width: 500px;
  display: flex;
  position: absolute;
  top: 780px;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 430px) {
  .outer-frame > .start_button {
    width: 385px;
    display: flex;
    position: absolute;
    top: 600px;
    align-items: center;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 414px) {
  .outer-frame > .start_button {
    width: 317px;
    display: flex;
    position: absolute;
    top: 494px;
    align-items: center;
    justify-content: flex-end;
  }
}

#medal {
  background-color: #404040;
  width: 300px;
  height: 50px;
  border: 2px ridge;
  color:  white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: xx-large;
}
@media screen and (max-width: 430px) {
  #medal {
    width: 231px;
    height: 38px;
    border: 1px ridge;
    color:  white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: medium;
  }
}
@media screen and (max-width: 414px) {
  #medal {
    width: 190px;
    height: 31px;
    border: 1px ridge;
    color:  white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: medium;
  }
}

.start_button button {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 10px;
  width: 80px;
  height: 55px;
  padding: 0px;
  border-radius: 4px;
  font-size: large;
  font-family:  'arial black',serif;
  color: white;
  background-color: red;
  box-shadow: 0 0.3em 0 darkred;
}
@media screen and (max-width: 430px) {
  .start_button button {
    margin-top: 3px;
    margin-bottom: 8px;
    margin-right: 11px;
    margin-left: 8px;
    width: 61px;
    height: 42px;
    padding: 0px;
    border-radius: 2px;
    font-size: medium;
    font-family:  'arial black',serif;  
  }
}
@media screen and (max-width: 414px) {
  .start_button button {
    margin-top: 2px;
    margin-bottom: 6px;
    margin-right: 9px;
    margin-left: 6px;
    width: 50px;
    height: 34px;
    padding: 0px;
    border-radius: 2px;
    font-size: small;
    font-family:  'arial black',serif;  
  }
}

/* ボタンをマウスホバーしたとき、ボタンを薄くする */
.start_button button:hover {
  opacity: .7;
}

/* ボタンをクリックしたとき、ボタンを下に移動する */
.start_button button:active {
  transform: translateY(0.2em);
  box-shadow: 0 0.1em 0 darkkhaki;
}
